{% extends 'layout.html.twig' %}

{% block title %}Gestión - Tablets{% endblock %}

{% block main_container %}
    <div class="alert alert-info mt-3">
        <h5 class="display-5 text-center">Tablets</h5>
    </div>
    <table id="tablaTablet" class="table my-5 text-center table-hover table-bordered mb-5" style="width: 100%">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Matricula</th>
            <th>ID oneSignal</th>
            <th style="min-width:250px">Opciones</th>
        </tr>
        </thead>
    </table>
    <script src="{{ asset('assets/js/dataTables/dataTablesTablet.js') }}"></script>
{% endblock %}

